{
    "app_name": "Atom Application",
    "app_key": "",
    "locale": "en",
    "database": {
        "host": "localhost",
        "port": "3306",
        "db_name": "atom_database",
        "user": "root",
        "password": ""
    }
}